# Dependencies
node_modules/
.pnp
.pnp.js

# Environment Configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage/
.nyc_output

# Build Artifacts
build/
dist/
out/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Seeding Credentials
docs/DUMMY_CREDENTIALS.md

# R history files
*.Rhistory

# Frontend Build & Vercel
frontend/dist/
.vercel/

